
.item-card {
    width: 30%;
    height: 100%;
    margin: 10px 10px ;
    display: inline-flex;
    flex-direction: column;
    
    justify-content: space-between;
    color: black;
    background-color: purple;
}

.item-title {
    display: flex;
    justify-content: space-between;
}

.image{
    height:20px;
    width: 20px;
}

.cart-icon {
    display: inline;
    margin-right: 40px;
}
img{
    height: 300px;
    width: 400px;
    left: 10px;
    right: 10px;
    padding-top: 2px;
}