<section>
    <div class="search-bar-container">
      <app-search id="search-note-panel" class="search" (searchTextChanged)="onSearchTextChanged($event)"></app-search>
    
      <div class="buttons">
        <button mat-flat-button color="primary"  (click)="reset(all)">All</button>
        <button mat-flat-button color="primary" class="one" (click)="displaysorted(cookies)">Cookies</button>
        <button mat-flat-button color="primary" class="two" (click)="displaysorted(cakes)">Cakes</button>
        <button mat-flat-button color="primary" class="three" (click)="displaysorted(brownies)">Brownies</button> 
      </div>
    </div>
    <app-itemcard *ngFor="let item of items" [item]="item"></app-itemcard>
</section>