<mat-toolbar id="header" color="primary">
    <h1>Bake My Cake Admin page</h1>
</mat-toolbar>
<div id="login-form">
    <h3>If you are a Admin, enter your Login Code</h3>
    <mat-form-field>
        <mat-label>Enter Login Code</mat-label>
        <input matInput name="adminCode" type="password" [(ngModel)]="adminCode" placeholder="Admin Code">
    </mat-form-field>
    <button mat-button color="primary" (click)="validateLoginCode()">Submit</button>
    <h3>If you are a customer, <a routerLink="">click here</a></h3>
</div>